{% load static %}

<!--doctype html-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'login_css.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Log In</title>

  </head>
  <body>
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img  src="{% static 'img.png'%} " class="img-fluid" alt="Green Parrot">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h2 class="font-weight-bold py-3">
                        <b>Student</b> Management System
                    </h2>
                    <h4>
                        Sign into Your Account
                    </h4>

                    <form action="/dologin" method="post">
                            {% csrf_token %}
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" class="form-control my-3 p-2" placeholder="Email" name="email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" class="form-control my-3 p-2" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" class="btn1 mt-3 mb-5">Sign In</button>
                            </div>
                        </div>
                        <a href="#" class="btn btn-md btn-outline-dark ">Forget Password</a>
                        <p class="py-2 ">Don't have an account? <a class="mx-4" href="signup.html" >Register here</a> </p>
                            {% if messages %}
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                <span class="alert alert-danger">{{ message }}</span>
                                    {% endif %}
                                    {% endfor %}
                            </div>
                            {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
