{% extends 'HOD/base.html'%}
{% block page_title %}
Manage Subjects
{% endblock page_title %}
{% block main_content%}
<section class="content">
      <div class="container-fluid">
          <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Subject Details</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
                                    <!--table here-->
    <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>ID</th>
                      <th>Subject Name</th>
                        <th>Course ID</th>
                        <th>Course Name</th>
                      <th>Teacher</th>
                      <th>Action</th>
                    </tr>
                  </thead >
                  <tbody>
                  {% for subject in subjects %}
                    <tr>
                      <td>{{ subject.ID }}</td>
                      <td>{{ subject.subjectName }}</td>
                        <td>{{ subject.courseID.ID }}</td>
                        <td>{{ subject.courseID.courseName }}</td>
                      <td>{{ subject.staffID.first_name }} {{ subject.staffID.last_name }}</td>
                      <td><a class="btn btn-success btn-sm" href="/edit_subject/{{ subject.ID }}">Edit</a> </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
      </div>
      </div>
      </div>
    </section>
{% endblock main_content%}

